.navbar{
    background-color: black;
    position: fixed;    /* Fix position to the top of the page */
    top: 0;             /* Set the top edge at 0 distance from the viewport top */
    width: 100%;        /* Ensure the navbar spans the full width */
    z-index: 1000; 
}
.nav-link{
    color: white !important;
    margin-right: 10px !important;
}
.navbar-brand{
    color: white !important;  
}
.navbar-nav{
    margin-left: auto;
    margin-right: 50px;
    position: sticky !important;
}
.h-font{
    font-family: "Merienda", cursive;
    font-weight: bold;
    font-size: 30px;
    margin-left: 8px;
  }
  .mmr{
    margin-right: 7px;
  }